<div class="container">
  <%= render partial: "layouts/breadcrumb", locals: { previus_message: "Volver al inicio", previus: root_path, current: "Lista de usuarios" } %>
</div>

<div class="container">
  <h2>Usuarios</h2>
  
  <table class="custom-table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Correo electrónico</th>
        <th>Teléfono</th>
        <th>Tipo</th>
        <th></th>
      </tr>
    </thead>
  
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.last_name %></td>
          <td><%= user.phone %></td>
          <td><%= user.admin? ? "Usuario" : "Cliente" %></td>
          <td class="d-flex justify-center">
            <%= link_to user, class: 'px-5 btn-action' do %> <i class="fa-solid fa-eye"></i> <% end %>
            <%= link_to edit_user_path(user), class: 'px-5 btn-action' do %> <i class="fa-solid fa-pencil"></i> <% end %>
            <%= link_to user, method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'px-5 btn-action' do %> <i class="fa-solid fa-trash"></i> <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <br>
  
  <%= link_to 'Nuevo usuario', new_user_path, class: "btn btn-main" %>
</div>
