<div class="container">
  <%= render partial: "layouts/breadcrumb", locals: { previus_message: "Volver al listado", previus: users_path, current: "Ver usuario" } %>
</div>

<div class="container">
  <h3>
    <strong>Name:</strong>
    <%= @user.name %>
  </h3>
  
  <p>
    <strong>Last name:</strong>
    <%= @user.last_name %>
  </p>
  
  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>
  
  <p>
    <strong>Phone:</strong>
    <%= @user.phone %>
  </p>
  
  <p>
    <strong>Tipo de usuario:</strong>
    <%= @user.admin? ? "Usuario" : "Cliente" %>
  </p>
</div>

<div class="container">
  <%= link_to 'Editar', edit_user_path(@user), class: "link-basic" %> |
  <%= link_to 'Regresar', users_path, class: "link-basic" %>
</div>
