<div class="product-item">
  <img class="product-img" src="https://previews.123rf.com/images/songbird839/songbird8391109/songbird839110900004/10686322-caja-de-art%C3%ADculos-usados-listos-para-una-venta-de-garaje-subasta-o-donaci%C3%B3n-a-una-organizaci%C3%B3n-carit.jpg?fj=1" alt="">
  <div class="d-flex align-center space-between mt-10">
    <h3><%= product.title %></h3>
    <%= link_to "Ver más", "/products/#{product.id}/view" %>
  </div>
  <p><%= product.description %></p>
  <p>$<%= product.price %></p>
  <% if !current_user.admin? %>
    <div class="sale-section d-flex align-center">
      <input type="text" placeholder="Piezas" class="text-center" id="qty-<%= product.id %>", step="1" min="1" value="1">
      <button class="btn btn-main mx-5" id="product-<%= product.id %>">Agregar</button>
    </div>
  <% end %>
</div>

<script>
document.getElementById("product-<%= product.id %>").addEventListener( "click", () => {
  const qty = document.querySelector('#qty-<%= product.id %>').value;
  const productId = <%= product.id %>;
  setItemToCart(qty, productId)
});
</script>